body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.gallery-title {
  margin-top: 20px;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 30px;
}

.form-body {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-flow: row wrap;
  padding: 48px 30px;
}

form > label {
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
}

label > input {
  align-items: baseline;
  margin-left: 10px;
  padding: 10px;
}

label > select {
  align-items: baseline;
  margin-left: 10px;
  padding: 10px;
  border-radius: 15px;
}

input[type=checkbox] {
  align-items: baseline;
  margin-left: 10px;
  padding: 10px;
  border-radius: 15px;
}

button {
  border-radius: 15px;
  padding: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 123, 255);
  border: none;
}

button:hover {
  border-radius: 15px;
  padding: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 81, 168);
  border: none;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}


.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}
